POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
POSTGRES_PORT=5432
ENV=dev

DATABASE_URL=postgresql+psycopg://app:app@db:5432/app

ECB_PORTAL_BASE_URL=https://data.ecb.europa.eu
ECB_SERIES_KEY=MIR.M.U2.B.A2C.AM.R.A.2250.EUR.N
